name: Publish Builds

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-13, ubuntu-20.04, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 14

      - run: npm i -g npm@7
      - run: npm ci
      - run: npm run electron:build -p always
        env:
          GH_TOKEN: ${{ secrets.github_token }}